dialog{
    border: none;
    border-radius: 12px;     /* opcional, para que no se salga de la pantalla */
    overflow-y: auto;
    max-height: 80%;
    h1{
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        #headerModal{
            text-align: center;
            width:80%;
            img{
                height: auto;
                border-radius: 12px;
                text-align: center;
            }
        }
    }
    p{
        font-size: 1rem;
        max-width: 40dvw;
    };

    form{
        text-align: center;

        button{
            width: 5rem;
            font-size: 1.2rem;
            border-radius: 12px;
            border:1px solid;
            background-color: #3A6B4F;
            color: #ffffff;
            cursor: pointer;
        }
        .close-button{
            width: fit-content;
            padding: 0;
            margin: 0;
            background-color: unset;
            color: black;
            border: none;
            font-size: 2rem;
        }
        
    }
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
    dialog{
        width: 70%;
        p{
            font-size: 1rem;
            max-width: 60dvw;
        };
    }
}