dialog{
    border: none;
    border-radius: 12px;     /* opcional, para que no se salga de la pantalla */
    overflow-y: auto;
    max-height: 80%;
    max-width: 70%;
    h1{
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        #headerModal{
            text-align: center;
            width:80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .slider {
                aspect-ratio: 1/1;
                position: relative;
                display: flex;
                overflow-x: scroll;
                overflow-y: hidden;
                gap: 5px;
                scroll-snap-type: x mandatory;

                img {
                    width: 100%;
                    left: 0;
                    object-fit: cover;
                    object-fit: cover;
                    border-radius: 5px;
                    scroll-snap-align: center;
                }

            }
        }
    }
    p{
        font-size: 1rem;
        max-width: 40dvw;
    };

    form{
        text-align: center;

        button{
            width: 5rem;
            font-size: 1.2rem;
            border-radius: 12px;
            border:1px solid;
            background-color: #3A6B4F;
            color: #ffffff;
            cursor: pointer;
        }
        .close-button{
            width: fit-content;
            padding: 0;
            margin: 0;
            background-color: unset;
            color: black;
            border: none;
            font-size: 2rem;
        }
        
    }
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
    dialog{
        max-width: 70%;
        p{
            font-size: 1rem;
            max-width: 60dvw;
        };
    }
}