#FiltersSection {
    display: flex;
    justify-content: space-evenly;
        
    section{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    input[type="range"]{
        padding: 0;
        width:200%;
    }
    input{
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #d1d1d1;
        width: 70%
    }
    input:focus{
        outline: none;
        background-color: rgb(255, 255, 255);
    }
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    button{
        padding: 0.5rem 2rem;
        border: none;
        background-color: #d1d1d1;
        cursor: pointer;
        border-radius: 0.5rem;
    }
    button:hover{
        background-color: rgb(7, 102, 7);
        color: white;
    }
    button.active{
        background-color: rgb(7, 102, 7);
        color: white
    }

    .options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        button{
            width: 8rem;
        }
    
    }

    h3{
        text-align: center;
    }
}