#FiltersSection {
    display: flex;
    justify-content: space-evenly;
        
    .filter-content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
    }
    #timeFilter{
        input{
            padding: 0;
        }
    }
    input{
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #d1d1d1;
        width: 100%
    }
    input:focus{
        outline: none;
        background-color: rgb(255, 255, 255);
    }
    input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    button{
        padding: 0.5rem 2rem;
        border: none;
        background-color: #d1d1d1;
        cursor: pointer;
        border-radius: 0.5rem;
    }
    button:hover{
        background-color: rgb(7, 102, 7);
        color: white;
    }
    button.active{
        background-color: rgb(7, 102, 7);
        color: white
    }

    .options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        button{
            width: 8rem;
        }
    
    }

    h3{
        text-align: center;
    }
}

@media (max-width: 900px) {
    #FiltersSection{
        display: block;
        .filter-content {
            gap: 0.5rem;
            align-items: center;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin: 0 1rem;
        }

        .filter-content > :last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }

        .filter-title{
            text-align: start;
        }

        input{
            width: 90%;
        }

        #timeFilter{
            position: relative;
            
            #timeSection{
                height: 2rem;
            }

            input{
                width: 100%;
            }
        }
        .options{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            button{
                width: fit-content;
                white-space: nowrap;
            }
        }

        h3{
            font-size: 1rem;
        }

        button{
            padding: 0.5rem 1rem;
        }
    }
}
