#HeroSection {
    margin: 2rem 0;
    #MainTitles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #1E1E1E;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.2rem;
        color: gray
    }
    #mainButtons {
        margin: 2rem;
        display: flex;
        gap: 5rem;
        button{
            width: 15rem;
            font-size: 1.5rem;
            border-radius: 12px;
            border:1px solid;
            background-color: #3A6B4F;
            color: #ffffff;
        }
        button:hover{
            background-color: #2E4F3D;
            color: #F5F3EF;
        }
    }
}